* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Netflix Sans', sans-serif;
  background-color: #111;
}

#banner__fadeTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(0deg,
      transparent,
      rgba(37, 37, 37, .61),
      #111);
}

.nav {
  position: fixed;
  top: 0;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all .5s;
}

.lista-menu {
  display: flex;
  flex-direction: row;
}

.lista-menu li {
  padding-right: 25px;
  color: #ccc8c8;
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 9999;
}

.lista-menu li:hover {
  color: #fff;
  font-weight: 500;
}

.nav.active {
  background-color: #111;
}

.nav__left {
  margin-left: 10px;
  width: 55vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_logo {
  width: 120px;
  margin-right: 50px;
  margin-left: 20px;
  z-index: 9999;
  cursor: pointer;
}

.nav__right {
  position: fixed;
  right: 20px;
  display: flex;
  margin-right: 10px;
  width: 35vw;
  justify-content: flex-end;
  padding-right: 60px;
  z-index: 9999;
}

.lupa {
  width: 35px;
  margin-right: 20px;
  cursor: pointer;
}

.sino {
  width: 35px;
  margin-right: 20px;
  cursor: pointer;
}

.nav_avatar {
  width: 35px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.seta {
  width: 20px;
  height: 15px;
  margin-top: 10px;
  cursor: pointer;
}

#banner {
  color: white;
  object-fit: contain;
  height: 844px;
  background-position: center center;
  background-size: cover;
}

#banner__contents {
  margin-left: 70px;
  padding-top: 450px;
  height: 190px;
}

#banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

#banner__description {
  width: 45rem;
  line-height: 1.5;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}

#banner__button-assistir {
  cursor: pointer;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: .2vw;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: .5rem;
  background-color: #ffffff;
  padding-bottom: .5rem;
  height: 50px;
}

#banner__button-mais {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: .2vw;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: .5rem;
  background-color: rgba(122, 121, 121, 0.8);
  padding-bottom: .5rem;
  height: 50px;
}

#banner__button-assistir:hover {
  background-color: #b9b7b7;
  transition: all .3s;
}

#banner__button-mais:hover {
  background-color: rgba(94, 94, 94, .6);
}

#banner__fadeBottom {
  margin-top: 87px;
  height: 7.4rem;
  background: linear-gradient(180deg,
      transparent,
      rgba(37, 37, 37, .61),
      #111);
}



.row__posters::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #222121;
  height: 10px;
}

.row__posters::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #860000;
}

.row {
  margin-left: 50px;
  color: white;
  margin-top: 40px;
}

.row__title {
  margin-left: 20px;
}

.row__poster {
  object-fit: contain;
  width: 90%;
  max-height: 185px;
  margin-right: 10px;
  transition: transform 500ms;
  border-radius: 7px;
}

.row__posterLarge {
  width: 100%;
  max-height: 300px;
  border-radius: 7px;
  padding-right: 10px;
  transition: transform 500ms;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;

}

.no-scroll{
  overflow-y: hidden;
  overflow-x: hidden;
}

.row__poster:hover {
  transform: scale(1.09);
  transition: 0.3s;
}

.row__posterLarge:hover,
.row__posterLarge1:hover,
.row__posterLarge2:hover {
  transform: scale(1.09);
  opacity: 1;
  transition: 0.3s;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.redes {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 30px;
  margin-top: 100px;
}

.img-face {
  width: 40px;
  height: 38px;
  margin-right: 30px;
}

.img-footer {
  width: 40px;
  margin-right: 30px;
}

.links-footer {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.lista-footer {
  margin-right: 120px;
  font-size: 16px;
  color: #b3b0b0;
  line-height: 40px;
}

.btn-footer {
  height: 100px;
  width: 70%;
}

.btn-footer button {
  margin-top: 20px;
  background-color: #111;
  border: 2px solid #b3b0b0;
  font-size: 18px;
  color: #b3b0b0;
  padding: 10px;
}

.btn-footer button:hover {
  border: 2px solid white;
  color: white;
}

.btn-footer p {
  margin-top: 20px;
  color: #b3b0b0;
  padding-bottom: 30px;
}

@media screen and (max-width: 1500px) {

  .nav_logo {
    width: 80px;
  }

  .lista-menu li {
    font-size: 15px
  }

  .lupa {
    width: 25px;
    height: 25px;
  }

  .sino {
    width: 25px;
    height: 25px;
  }

  .nav_avatar {
    width: 25px;
    height: 25px;
  }

  .seta {
    width: 20px;
    height: 20px;
    margin-top: unset;
  }

  .redes {
    margin-left: unset;
  }

  .img-face {
    width: 30px;
    height: 28px;
  }

  .img-footer {
    width: 30px;
  }

}

@media screen and (max-width: 1350px) {

  .lista-footer p {
    font-size: 12px;
  }

  .btn-footer button {
    font-size: 10px;
  }
}

@media screen and (max-width: 1290px) {
  .lista-menu li {
    font-size: 12px
  }
}

@media screen and (max-width: 1185px) {
  .lista-footer p {
    font-size: 7px;
  }

  .img-face {
    width: 20px;
    height: 18px;
  }

  .img-footer {
    width: 20px;
  }

  footer button {
    font-size: 8px;
  }

  footer p {
    font-size: 8px;
  }
}


@media screen and (max-width: 1140px) {

  .lista-menu li {
    font-size: 10px
  }
}

@media screen and (max-width: 1040px) {

  .lista-menu li {
    font-size: 8px
  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .nav__right {
    width: 15%;
  }

  .nav__left {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {


  .lista-menu li {
    font-size: 12px;
  }

  .nav__right {
    display: none;
  }

  .nav {
    padding-left: unset;
  }

  .nav_logo{
    margin-right: 0;
    margin-left: 0;
  }

  .row{
    margin-left: unset;
    padding-left: 5px;
  }

  .row__posters::-webkit-scrollbar {
    display: none;
  }

}

@media screen and (max-width: 780px) {
  .lista-menu li {
    font-size: 10px;
  }

  #banner__title {
    font-size: 30px;
  }

  #banner__button-assistir {
    font-size: 15px;
  }

  #banner__button-mais {
    font-size: 15px;
  }

  #banner__description {
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) {

  .nav_logo {
    width: 50px;
  }

  .nav__left {
    width: 95%;
  }

  .lista-menu li {
    font-size: 12px;
  }

}

@media screen and (max-width: 630px) {

#banner__title{
  width: 100%;
  display: flex;
  justify-content: center;
}

  .lista-menu {
    display: none;
  }

  .nav__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: unset;
  }

  .nav_logo {
    width: 180px;
  }

  #banner__description{
    text-align: center;
  }

  #banner__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: unset;
  }
}

@media screen and (max-width: 470px){

  #banner__title{
    font-size: 25px;
  }

  #banner__button-assistir{
    font-size: 15px;
  }

  #banner__button-mais{
    font-size: 15px;
  }

  #banner__description{
    font-size: 10px
  }
}

@media screen and (max-width: 380px){

  #banner__buttons{
    display: flex;
    flex-direction: column;
  }

  #banner__description{
    width: 80%;
  }
}
